* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-color: rgb(21, 20, 20);
    max-width: 1600px;
    margin: 0 auto;
}

.section1 {
    width: 100%;
    height: 100vh;
    background-image: url("./img/IGrzIxlfue\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    object-fit: cover;
}

.section1 img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.section1 header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
}

.section1 div {
    padding: 30px 0 0 0;
    text-decoration: none;

}

.section1 .a1 {
    color: white;
}

.section1 div a {
    text-decoration: none;
    margin: 0 20px;
    color: rgb(183, 182, 182);
}

.section1 p {
    color: rgb(183, 182, 182);
}

.section1 header button {
    margin: 20px 0 10px 0;
    padding: 0 25px;
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* main */
main {
    color: white;
    width: 450px;
    margin: 130px 0 0 220px;
}

main h1 {
    margin: 0 0 20px 0;
    font-size: 45px;

}

main button {
    margin: 20px 0 0 0;
    padding: 10px 35px;
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* sectin ikkinchi */
.section2 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(21, 20, 20);
    padding: 70px 0;
    margin: 0 0 0 180px;

}

.section2 .qw {
    width: 262px;
    height: 300px;
    background-color: rgb(53, 50, 50);
    text-align: center;
    margin: 0 15px;
    cursor: pointer;

}

.section2 .qw p {
    padding: 0 18px;
    color: rgb(183, 182, 182);
    text-align: center;
}

.section2 h3 {
    margin: 10px 0 15px 0;
}

/* section3 */
.section3 {
    background-color: rgb(48, 48, 48);
    display: flex;
    color: white;
    padding: 0 0 0 200px;
}

.section3 .section3z {
    empty-cells: 400px;
    height: 540px;
    background-color: rgb(48, 48, 48);
}

.section3 .section3x {
    empty-cells: 400px;
    padding: 200px 0 0 100px;
    background-color: rgb(48, 48, 48);
}

.section3 .section3x p {
    margin: 15px 0;
}

.section3 .section3x h2 {
    display: inline-block;
    color: chocolate;
}

.section3 .section3x h4 {
    position: relative;
    display: inline-block;
    color: chocolate;
    bottom: 1px;

}

.section3 .section3x button {
    display: block;
    margin: 5px 0;
    padding: 10px 30px;
    background-color: rgb(220, 101, 16);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* sectin tortinchi */
/* section tortinchi ivhidagi section1 */
.section4 {
    display: flex;
    padding: 100px 0 40px 0;
    flex-wrap: wrap;
}

.section4 .kofe {
    width: 555px;
    height: 300px;
    background-image: url("./img/ali-yahya-Qn9DBu5OFDA-unsplash\ 1.png");
    color: white;
    padding: 65px 20px 0 290px;
    margin: 0 40px 0 190px;
    cursor: pointer;

}

.section4 span h1 {
    margin: 0 0 20px 0;
}

.section4 span p {
    color: rgb(145, 144, 144);
}

.section4 span h3 {
    margin: 15px 0 4px 0;
    display: inline-block;
    color: chocolate;
}

.section4 span h4 {
    display: inline-block;
    color: rgba(190, 95, 27, 0.665);
}

.section4 span button {
    display: block;
    padding: 10px 25px;
    color: white;
    background-color: chocolate;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* section tortinchi ivhidagi section2 */
.section4 .pitsa {
    width: 555px;
    height: 300px;
    background-image: url("./img/cAsRJ9IU1Q\ \(1\)\ 1.png");
    color: white;
    padding: 65px 20px 0 50px;
    cursor: pointer;

}

.section4 span h1 {
    margin: 0 0 20px 0;
}

.section4 span p {
    color: rgb(145, 144, 144);
}

.section4 span h3 {
    margin: 15px 0 5px 0;
    display: inline-block;
    color: chocolate;
}

.section4 span h4 {
    display: inline-block;
    color: rgba(190, 95, 27, 0.665);
}

.section4 span button {
    display: block;
    padding: 10px 25px;
    color: white;
    background-color: chocolate;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* section beshinchi ichidagi section5 */
/* section tortinchi ivhidagi section3 */
.section5 {
    display: flex;
    padding: 0 0 100px 0;
    flex-wrap: wrap;
}

.section5 .gamburger {
    width: 555px;
    height: 300px;
    background-image: url("./img/CDSDQwsqfD\ 1.png");
    color: white;
    padding: 65px 20px 0 290px;
    margin: 0 40px 0 190px;
    cursor: pointer;

}

.section5 span h1 {
    margin: 0 0 20px 0;
}

.section5 span p {
    color: rgb(145, 144, 144);
}

.section5 span h3 {
    margin: 15px 0 4px 0;
    display: inline-block;
    color: chocolate;
}

.section5 span h4 {
    display: inline-block;
    color: rgba(190, 95, 27, 0.665);
}

.section5 span button {
    display: block;
    padding: 10px 25px;
    color: white;
    background-color: chocolate;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* section tortinchi ivhidagi section4 */
.section5 .lavash {
    width: 555px;
    height: 300px;
    background-image: url("./img/uyW27SeCbK\ 1.png");
    color: white;
    padding: 65px 20px 0 50px;
    cursor: pointer;

}

.section5 span h1 {
    margin: 0 0 20px 0;
}

.section5 span p {
    color: rgb(145, 144, 144);
}

.section5 span h3 {
    margin: 15px 0 5px 0;
    display: inline-block;
    color: chocolate;
}

.section5 span h4 {
    display: inline-block;
    color: rgba(190, 95, 27, 0.665);
}

.section5 span button {
    display: block;
    padding: 10px 25px;
    color: white;
    background-color: chocolate;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* section oltinchi */
.section6 {
    width: 100%;
    height: 500px;
    display: flex;
}

.section6 .section_rasim {
    margin: 0 0 0 300px;
    width: 347px;
    height: 347px;
    background-image: url("./img/Ellipse\ 10.png");
}

.section6 .sercil {
    position: relative;
    top: 55px;
    left: 55px;
}

.rasim1 {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
    position: relative;
    bottom: 100px;
    right: 250px;
}

.rasim2 {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
    left: 40px;
    top: 20px;
    position: relative;
}

.rasim3 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    position: relative;
    bottom: 118px;
    left: 40px;
    box-shadow: 0 0 20px 2px rgba(150, 73, 10, 0.727);
}

.rasim4 {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
    position: relative;
    bottom: 268px;
    left: 20px;
}

.rasim5 {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
    position: relative;
    left: 280px;
    bottom: 150px;
}

/* section6 */
.section6 .section_sozlar {
    width: 400px;
    height: 400px;
    margin: 0 0 0 200px;
    text-align: center;
    padding: 150px 0 0 0;
    color: white;
}

.section6 .section_sozlar p {
    margin: 30px 0 20px 0;
    color: rgb(92, 92, 92);
}

.section6 .section_sozlar h6 {
    color: rgb(92, 92, 92);
}

/* section7 */
.section7 {
    display: flex;
    background-color: rgb(45, 44, 44);
    width: 100%;
    padding: 60px 0 60px 240px;
}

.section7 h1 {
    font-size: 35px;
    color: white;
}

.section7 button {
    color: white;
    background-color: chocolate;
    border: none;
    border-radius: 8px;
    padding: 15px 40px;
    margin: 0 0 0 450px;
    cursor: pointer;
}

/* section sakkiz */
.section8 {
    width: 100%;
    display: flex;
    padding: 150px 0 80px 0;
    cursor: pointer;
}

.section8 .box1 {
    margin: 0 0 0 200px;
    text-align: center;
    width: 300px;
    height: 200px;
    position: relative;
    bottom: 25px;
}

.section8 .box1 .img1 {
    position: relative;
    right: 65px;
    text-decoration: none;
    color: whitesmoke;
    margin: 50px 0 0 0;
}

.section8 .box1 .img2 {
    color: whitesmoke;
    position: relative;
    top: 10px;
    right: 12px;
    text-decoration: none;
}

.section8 .box1 .img3 {
    position: relative;
    right: 10px;
}

.section8 .box1 .img4 {
    position: relative;
    right: 10px;
}

/* box ikkinchi */
.section8 .box2 {
    width: 200px;
    height: 200px;
    color: whitesmoke;
    font-size: 12px;
}

.section8 .box2 p {
    opacity: 0.8;
    margin: 20px 0;
}

/* box uchinchi */
.section8 .box3 {
    width: 200px;
    height: 200px;
    color: whitesmoke;
    font-size: 12px;
}

.section8 .box3 p {
    opacity: 0.8;
    margin: 20px 0;
}

/* box tortinchii */
.section8 .box4 {
    width: 200px;
    height: 200px;
    color: whitesmoke;
    font-size: 12px;
}

.section8 .box4 p {
    opacity: 0.8;
    margin: 20px 0;
}

/* box beshinchi */
.section8 .box5 {
    width: 200px;
    height: 200px;
    color: whitesmoke;
    font-size: 12px;
}

.section8 .box5 h2 {
    margin: 0 0 7px 0;
}



@media all and (max-width: 1000px) {
    .section1 {
        width: 100%;
        background-image: url("./img/IGrzIxlfue\ 1.png");
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        object-fit: cover;
        background-position: center;
        font-size: 13px;
    }

    .section1 h1 {
        width: 450px;
        font-size: 40px;
    }

    .section1 p {
        width: 10%;
    }

    .section1 main {
        width: 100px;
    }

    .section2 {
        gap: 40px;
    }

    .section3 {
        padding: 0 0 0 100px;
        font-size: 15px;
    }

    .section3 .section3z {
        height: 400px;
    }

    .section3 .section3z img {
        width: 400px;
    }

    .section3 .section3x {
        padding: 110px 0 0 100px;
        background-color: rgb(48, 48, 48);
    }

    .section4 {
        display: flex;
        padding: 100px 0 40px 0;
    }

    /* section tortinchi ivhidagi section2 */
    .section4 .pitsa {
        font-size: 13px;
        width: 355px;
        height: 250px;
        background-image: url("./img/cAsRJ9IU1Q\ \(1\)\ 1.png");
        background-position: center;
        color: white;
        padding: 65px 20px 0 30px;
        cursor: pointer;

    }

    .section4 span h1 {
        margin: 0 0 20px 0;
    }

    .section4 span h3 {
        margin: 10px 0 2px 0;
    }

    .section4 span button {
        padding: 5px 10px;
    }

    .section4 .kofe {
        font-size: 13px;
        width: 355px;
        height: 250px;
        background-image: url("./img/ali-yahya-Qn9DBu5OFDA-unsplash\ 1.png");
        background-position: center;
        color: white;
        margin: 0 20px 0 130px;
        padding: 65px 10px 0 150px;
        cursor: pointer;

    }

    .section4 span h1 {
        margin: 0 0 20px 0;
    }


    .section4 span h3 {
        margin: 10px 0 2px 0;
    }

    .section4 span button {
        padding: 5px 10px;
        /* section 5 */
    }

    .section5 .gamburger {
        font-size: 13px;
        width: 355px;
        height: 250px;
        background-image: url("./img/CDSDQwsqfD\ 1.png");
        background-position: center;
        color: white;
        margin: 0 20px 0 130px;
        padding: 65px 10px 0 150px;
        cursor: pointer;

    }

    .section5 span h1 {
        margin: 0 0 20px 0;
    }


    .section5 span h3 {
        margin: 10px 0 2px 0;
    }

    .section5 span button {
        padding: 5px 10px;
    }

    /* section tortinchi ivhidagi section2 */
    .section5 .lavash {
        font-size: 13px;
        width: 355px;
        height: 250px;
        background-image: url("./img/uyW27SeCbK\ 1.png");
        background-position: center;
        color: white;
        padding: 65px 20px 0 30px;
        cursor: pointer;

    }

    .section5 span h1 {
        margin: 0 0 20px 0;
    }

    .section5 span h3 {
        margin: 10px 0 2px 0;
    }

    .section5 span button {
        padding: 5px 10px;
    }

    /* section 6 */
    /* section oltinchi */
    .section6 {
        width: 100%;
        height: 500px;
        display: flex;
    }

    .section6 .section_rasim {
        margin: 0 0 0 200px;
        width: 347px;
        height: 347px;
        background-image: url("./img/Ellipse\ 10.png");
    }

    .section6 .sercil {
        position: relative;
        top: 55px;
        left: 55px;
    }
 

    /* section6 */
    .section6 .section_sozlar {
        width: 250px;
        height: 250px;
        margin: 0 0 0 100px;
        padding: 50px 0 0 0;
    }

    .section6 .section_sozlar p {
        margin: 30px 0 20px 0;

    }
    .section7 {
        width: 100%;
        padding: 60px 0 60px 170px;
    }
    
    .section7 h1 {
        font-size: 35px;
        color: white;
    }
    
    .section7 button {
        border-radius: 8px;
        padding: 15px 50px;
        margin: 0 0 0 150px;
    }
    /* section8 */
    .section8 {
        padding: 100px 0 50px 0;
        font-size: 10px;
    }
    
    .section8 .box1 {
        margin: 0 0 0 70px;
        width: 300px;
        height: 200px;
        bottom: 25px;
    }  
}  



@media all and (max-width: 860px) {
    .section6 {
        width: 100%;
        height: 500px;
        display: flex;
    }

    .section6 .section_rasim {
        margin: 0 0 0 20px;
        width: 347px;
        height: 347px;
        background-image: url("./img/Ellipse\ 10.png");
    }

    .section6 .sercil {
        position: relative;
        top: 55px;
        left: 55px;
    }

    /* section6 */
    .section6 .section_sozlar {
        font-size: 10px;
        width: 170px;
        height: 150px;
        margin: 0 0 0 50px;
        padding: 50px 0 0 0;
    }

    .section6 .section_sozlar p {
        
        margin: 30px 0 20px 0;

    }
    /* section 3 */
    
    .section3 {
        font-size: 15px;
    }

    .section3 .section3z {
        height: 400px;
    }

    .section3 .section3z img {
        width: 300px;
    }

    .section3 .section3x {
        font-size: 10px;
        padding: 110px 0 0 10px;
        background-color: rgb(48, 48, 48);
    }
    /* section 4 */
    .section4{
        justify-content: center;
        gap: 30px;
    }
    .section5{
        justify-content: center;
        gap: 30px;
    }
    .section1 main{
        margin: 150px 0 0 70px;
        font-size: 10px;
    }
    .section1 main h1{
        margin: 0 0 10px 0;
        font-size: 20px;
    }
    .section7 {
        width: 100%;
        padding: 60px 0 60px 110px;
    }
    
    .section7 h1 {
        color: white;
        font-size: 20px;
    }
    
    .section7 button {
        padding: 15px 40px;
    }
        /* section8 */
        .section8 {
            padding: 100px 0 50px 0;
        }
        
        .section8 .p{
            font-size: 7px;
            width: 200px;
            height: 200px;
            bottom: 25px;
        } 
        .section8 .box1 .img1{
            position: relative;
            left:10px ;
        }
        .section8 .box1 .img2{
            position: relative;
            left:10px ;
        }
   
  
}
@media all and (max-width: 900px) {
    .section6 .section_sozlar {
        font-size: 12px;
        width: 190px;
        height: 150px;
        margin: 0 0 0 50px;
        padding: 50px 0 0 0;
    }

    .section6 .section_sozlar p {
        margin: 30px 0 20px 0;
    }
        /* section 3 */
        .section3 {
            font-size: 15px;
            height: 400px;
            justify-content: center;
        }
        .section3 .section3z img {
            width: 300px;
        }
        .section3 .section3x {
            font-size: 13px;
            padding: 90px 0 0 10px;
        }
        .section1 h1 {
            width: 400px;
            font-size: 40px;
        }
    
        .section1 p {
            width: 440px;
        }
    
        .section1 main {
            margin: 130px 0 0 100px;
        }

}
@media all and (max-width: 860px) {
    .section6 {
        width: 100%;
        height: 500px;
        display: flex;
    }

    .section6 .section_rasim {
        margin: 0 0 0 200px;
        width: 347px;
        height: 347px;
        background-image: url("./img/Ellipse\ 10.png");
    }

    .section6 .sercil {
        position: relative;
        top: 55px;
        left: 55px;
    }
}
@media all and (max-width: 790px) {
    .section6 {
        width: 100%;
        height: 500px;
        display: flex;
    }

    .section6 .section_rasim {
        margin: 0 0 0 100px;
        width: 347px;
        height: 347px;
        background-image: url("./img/Ellipse\ 10.png");
    }

    .section6 .sercil {
        position: relative;
        top: 55px;
        left: 55px;
    }

}
@media all and (max-width: 1250px) {
    .section1 h1 {
        width: 450px;
        font-size: 40px;
    }

    .section1 p {
        width: 440px;
    }

    .section1 main {
        margin: 130px 0 0 150px;
    }
    /* sectin ikkinchi */
.section2 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(21, 20, 20);
    padding: 70px 0;
    margin: 0 0 0 180px;
    gap: 80px;

}
.section2 img{
    width: 322px;
}
.section2 .qw {
    width: 322px;
    height: 300px;
    background-color: rgb(53, 50, 50);
    text-align: center;
    margin: 0 15px;
    cursor: pointer;


}

.section2 .qw p {
    padding: 0 18px;
    color: rgb(183, 182, 182);
    text-align: center;
}

.section2 h3 {
    margin: 10px 0 15px 0;
}
.section4{
    justify-content: center;
    gap: 20px;
}
.section4{
    justify-content: center;
    gap: 20px;
}
.section5{
    justify-content: center;
    gap: 20px;
}
.section5{
    justify-content: center;
    gap: 20px;
}
}
